#authPage {
    height: 100vh;
    background-image: url(./../../../asset/background/authPageBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    #footerPage {
        width: 100vw;
    }
}