.card {
    border-radius: 5px;
    margin: 5px;
    border-color: rgb(102, 101, 101);
    border-width: 3px;

    .card-header {
        background-color: #ffffff;
        border-bottom: 2px solid #464646;
    }

    > .card-body {
        padding: 0.75rem;

        .card-body {
            padding: 0.25rem;
        }

        .card-body:last-child {
            padding-bottom: 0;
        }
    }

    a {
        margin: 0.5rem;
        text-decoration: none;
    }

    button {
        margin: 2px auto;
        height: 2.5rem;
        min-height: fit-content;

        a {
            color: #ffffff;
            margin: 0;
        }
    }
}